<div class="container">
  <div class="pagination m-4 px-4">
    <button class="page-link" [ngClass]="{ disable: currentPageIndex === 0 }" (click)="changePage(currentPageIndex - 1)">
      &laquo; Previous
    </button>
    <button class="page-link" [ngClass]="{ active: currentPageIndex === page }" *ngFor="let page of pages; let i = index "
      (click)="changePage(page)">
      {{page}}
    </button>
    <button class="page-link" [ngClass]="{ disable: currentPageIndex === 15 }" (click)="changePage(currentPageIndex + 1)">Next &raquo;</button>
  </div>
 </div>