
ul li{
    list-style-type: none;
    width: 600px;
    margin: auto;
    padding: 5px;
    margin-bottom:10px;
    border-radius: 5px;
    > div{
        float: right;
    }
  }
  ul li:nth-child(odd) {
      background-color: #fff;
      color: rgb(154, 14, 154);
    }